body {
  width: 1200px;
  margin: auto;
  background: url(./happy.png) no-repeat center;
  height: 801px;
  color: #ffffff;
  position: relative;
}

.active {
  font-weight: bold;
}

.main-text {
  font-weight: 990;
  font-size: 60px;
  line-height: 0px;
  margin-left: 680px;
  margin-top: 400px;
  position: absolute;
}

.quote {
  font-weight: 4;
  font-size: 27px;
  line-height: 25px;
  margin-left: 680px;
  opacity: 9.9;
  margin-top: 480px;
  position: absolute;
}
